In [1]:
#import all necessary libraries

import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib  inline
import seaborn as sns


from datetime import datetime
import datetime as dt

import warnings 
warnings.filterwarnings('ignore')

DataSet Loading

In [2]:
sales_data = pd.read_csv('sales.csv')
print(sales_data)

         Store  DayOfWeek        Date  Sales  Customers  Open  Promo  \
0            1          5  2015-07-31   5263        555     1      1
1            2          5  2015-07-31   6064        625     1      1
2            3          5  2015-07-31   8314        821     1      1
3            4          5  2015-07-31  13995       1498     1      1
4            5          5  2015-07-31   4822        559     1      1
...        ...        ...         ...    ...        ...   ...    ...
1017204   1111          2  2013-01-01      0          0     0      0
1017205   1112          2  2013-01-01      0          0     0      0
1017206   1113          2  2013-01-01      0          0     0      0
1017207   1114          2  2013-01-01      0          0     0      0
1017208   1115          2  2013-01-01      0          0     0      0

        StateHoliday  SchoolHoliday
0                  0              1
1                  0              1
2                  0              1
3                  0              1
4                  0              1
...              ...            ...
1017204            a              1
1017205            a              1
1017206            a              1
1017207            a              1
1017208            a              1

[1017209 rows x 9 columns]

In [4]:
store_data = pd.read_csv('store.csv')
print(store_data)

      Store StoreType Assortment  CompetitionDistance  \
0         1         c          a               1270.0
1         2         a          a                570.0
2         3         a          a              14130.0
3         4         c          c                620.0
4         5         a          a              29910.0
...     ...       ...        ...                  ...
1110   1111         a          a               1900.0
1111   1112         c          c               1880.0
1112   1113         a          c               9260.0
1113   1114         a          c                870.0
1114   1115         d          c               5350.0

      CompetitionOpenSinceMonth  CompetitionOpenSinceYear  Promo2  \
0                           9.0                    2008.0       0
1                          11.0                    2007.0       1
2                          12.0                    2006.0       1
3                           9.0                    2009.0       0
4                           4.0                    2015.0       0
...                         ...                       ...     ...
1110                        6.0                    2014.0       1
1111                        4.0                    2006.0       0
1112                        NaN                       NaN       0
1113                        NaN                       NaN       0
1114                        NaN                       NaN       1

      Promo2SinceWeek  Promo2SinceYear     PromoInterval
0                 NaN              NaN               NaN
1                13.0           2010.0   Jan,Apr,Jul,Oct
2                14.0           2011.0   Jan,Apr,Jul,Oct
3                 NaN              NaN               NaN
4                 NaN              NaN               NaN
...               ...              ...               ...
1110             31.0           2013.0   Jan,Apr,Jul,Oct
1111              NaN              NaN               NaN
1112              NaN              NaN               NaN
1113              NaN              NaN               NaN
1114             22.0           2012.0  Mar,Jun,Sept,Dec

[1115 rows x 10 columns]

********Dataset First View**********


Once we get our hands on data for the first time, analyze the dimension of our data (how many rows vs columns?) and the data types (categorical data?
numerical data? Discrete or continuous data?).

In [5]:
#Lets view the sales data 

sales_data.head(5)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [7]:
#Give the rows and Columns in a dataset of sales

sales_data.shape

(1017209, 9)

In [8]:
#information about the sales data 

sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB

In [10]:
#Check that if any null values is present in the data or not

sales_data.isnull().sum()

Store            0
DayOfWeek        0
Date             0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64

We don't have any null values in our sales data

In [11]:
#Lets view the second dataset

store_data.head(5)

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [12]:
#Let's see the rows and columns of  the store dataset
store_data.shape

(1115, 10)

In [14]:
#Give the information about the data 
store_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

In [15]:
#Check that if any null values is present in the data or not
store_data.isnull().sum()

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64